In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
All_NoBG_train_Grass_test_Roof = pd.read_csv('../Classification/All-NoBG-train-Grass-test-Roof.csv', sep=',')
All_NoBG_train_Roof_test_Grass= pd.read_csv('../Classification/All-NoBG-train-Roof-test-Grass.csv', sep=',')
All_Solar_Data_train_Grass_test_Roof = pd.read_csv('../Classification/All-Solar Data-train-Grass-test-Roof.csv', sep=',')
All_Solar_Data_train_Roof_test_Grass= pd.read_csv('../Classification/All-Solar Data-train-Roof-test-Grass.csv', sep=',')
All_Cropped_train_Grass_test_Roof = pd.read_csv('../Classification/All-Cropped-train-Grass-test-Roof.csv', sep=',')
All_Cropped_train_Roof_test_Grass= pd.read_csv('../Classification/All-Cropped-train-Roof-test-Grass.csv', sep=',')

In [22]:
print("All_Cropped_train_Grass_test_Roof")
copy = All_Cropped_train_Grass_test_Roof.copy()
copy = copy[copy['Count']=='Full'].groupby(['Classifier']).mean()
copy.head(5)

All_Cropped_train_Grass_test_Roof

            Cycle  Train Acc  Test Acc  F1 Score  Train Time (ms)  clfs per ms
Classifier
KNN           0.5   1.000000  0.426038  3.041110        19.818783    11.864590
NN            0.5   0.982843  0.486792  3.322856      4228.490257   178.093713
RF            0.5   0.999623  0.427925  3.078509       566.547608   117.940797
SVM           0.5   1.000000  0.525283  3.393799       474.954337    41.864011

In [23]:
print("All_Cropped_train_Roof_test_Grass")
copy = All_Cropped_train_Roof_test_Grass.copy()
copy = copy[copy['Count']=='Full'].groupby(['Classifier']).mean()
copy.head(5)

All_Cropped_train_Roof_test_Grass

            Cycle  Train Acc  Test Acc  F1 Score  Train Time (ms)  clfs per ms
Classifier
KNN           0.5   1.000000  0.486802  2.996958        26.999855     5.683294
NN            0.5   0.996038  0.514140  3.374030      5020.468879   189.880002
RF            0.5   0.999811  0.467195  2.753529       448.117709   150.396389
SVM           0.5   1.000000  0.514517  3.299305       401.690680    27.609622

In [24]:
print("All_NoBG_train_Grass_test_Roof")
copy = All_NoBG_train_Grass_test_Roof.copy()
copy = copy[copy['Count']=='Full'].groupby(['Classifier']).mean()
copy.head(5)

All_NoBG_train_Grass_test_Roof

            Cycle  Train Acc  Test Acc  F1 Score  Train Time (ms)  clfs per ms
Classifier
KNN             2   1.000000  0.491379  3.285207        50.132036     7.862165
NN              2   0.998694  0.488721  3.385747      2943.516541   136.358567
RF              2   1.000000  0.473851  3.146356       583.707752   119.216674
SVM             2   1.000000  0.540805  3.636367       218.474977    49.516415

In [4]:
print("All_NoBG_train_Roof_test_Grass")
copy = All_NoBG_train_Roof_test_Grass.copy()
copy = copy[copy['Count']=='Full'].groupby(['Classifier']).mean()
copy.head(5)

All_NoBG_train_Roof_test_Grass

            Cycle  Train Acc  Test Acc  F1 Score  Train Time (ms)  clfs per ms
Classifier
KNN             2   1.000000  0.355096  2.245800        61.644554     3.361159
NN              2   0.994109  0.443671  2.668764      4287.429228   184.839985
RF              2   0.999713  0.409431  2.657135       590.145960   123.427088
SVM             2   1.000000  0.342184  2.291630       398.322160    41.176428

In [5]:
print("All_Solar_Data_train_Grass_test_Roof")
copy = All_Solar_Data_train_Grass_test_Roof.copy()
copy = copy[copy['Count']=='Full'].groupby(['Classifier']).mean()
copy.head(5)

All_Solar_Data_train_Grass_test_Roof

            Cycle  Train Acc  Test Acc  F1 Score  Train Time (ms)  clfs per ms
Classifier
KNN             2   1.000000  0.215517  2.062968        59.086208     3.284870
NN              2   0.996814  0.212931  1.703369      2472.187481   159.386098
RF              2   1.000000  0.106322  0.736336       481.364231   138.317270
SVM             2   1.000000  0.243966       NaN       207.091606    57.201060

In [6]:
print("All_Solar_Data_train_Roof_test_Grass")
copy = All_Solar_Data_train_Roof_test_Grass.copy()
copy = copy[copy['Count']=='Full'].groupby(['Classifier']).mean()
copy.head(5)

All_Solar_Data_train_Roof_test_Grass

            Cycle  Train Acc  Test Acc  F1 Score  Train Time (ms)  clfs per ms
Classifier
KNN             2   1.000000  0.307748       NaN        55.764465     3.448297
NN              2   0.999282  0.317379  2.134638      3994.196415   127.407059
RF              2   1.000000  0.201955       NaN       573.032217   124.688882
SVM             2   1.000000  0.261839  1.926120       344.732857    46.485740